/*
orange color: #e67e22
*/

* {
  /*Jonas가 항상 가장 먼저 넣는 것들*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555; /*웹페이지의 전체 font컬러*/
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; /*텍스트 디스플레이를 최적화하는 메소드*/
}

.clearfix {
  /*float 효과 해제하기*/
  zoom: 1;
}
.clearfix:after {
  /*실제 float이 적용해제되어야 하는 요소들. clearfix 클래스를 가진 요소의 "다음 요소(하위 요소)"에 다음 프로퍼티들이 적용된다.*/
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------*/
/*Reusable components*/
/*-------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
  /* 0 auto 0 auto 대신 위와 같이 달면 위&아래가 0, 오르쪽&왼쪽이 auto로 설정이 된다. */
}

section {
  padding: 80px 0;
}

.box {
  /*paragraph들 사이의 간격 조절*/
  padding: 1%;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* responsive design에서 항상 가운데에 오게 하는 방법 */
}

/*-------------------------------*/
/*HEADINGS*/
/*-------------------------------*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%; /* 위에 html에서 font-size를 20px로 설정해두었기 때문에 그걸 기준삼아서 %가 조절이 됨*/
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  /*오렌지 border추가하는 영역*/
  /*h2와 텍스트 사이에 추가. css만 이용해서 content추가하는 법*/
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto; /*센터링하기*/
  margin-top: 30px; /*h2랑 line사이 간격*/
}

/*-------------------------------*/
/*PARAGRAPHS*/
/*-------------------------------*/

.long-copy {
  line-height: 145%; /*120 ~ 145% 권장*/
  width: 70%;
  margin-left: 15%; /*total이 100%이기 떄문에 100-70인 30을 15%씩 나누면 양쪽에 15%씩 margin이 생긴다.*/
}

.box p {
  /*부모태그 div, 자식태그 p*/
  font-size: 90%;
  line-height: 145%;
}

/*-------------------------------*/
/*ICON*/
/*-------------------------------*/

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22; /*font이기 때문에 색상도 바꿀 수 있다*/
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block; /*width 프로퍼티를 쓸 수 있게 바꿔주기*/
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;

  /*secrets to align text & icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px; /*양수margin이 공간을 더해준다면, 음수margin은 공간을 줄어들게하는 효과. 숫자가 커질수록 아이콘은 위로 움직인다.*/
}

/*-------------------------------*/
/*LINKS*/
/*-------------------------------*/
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent; /* transparent 마우스를 올리면 언더라인이 사라지는 효과 */
}

/*-------------------------------*/
/*BUTTONS*/
/*-------------------------------*/

.btn:link,
.btn:visited {
  /*psedo-classes: 방문전후가 다르게 표시되게 하기 위해서 가짜로 만드는 클래스*/
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  /*링크(버튼)에 마우스를 갖다대면 바로 변하는 것이 아니라 0.2s(초) 이후에 변함*/
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22; /*ghost버튼이랑 똑같이 설정*/
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22; /*엘리먼트의 height/width는 content + height/width를 한 결과. 따라서 두 버튼에 똑같이 border를 설정해줘야한다.*/
  color: #e67e22;
}

.btn:hover,
.btn:active {
  /*마우스를 버튼 위에 올려놓았을 때 색깔이 바뀌는 모습 설정*/
  background-color: #cf6d178a;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}
/*-------------------------------*/
/*HEADER*/
/*-------------------------------*/

header {
  /* 백그라운드 이미지 추가하는 방법, linear-gradient: 바탕이미지 위에다가 색깔 입히는 방법/위에 덮히는 색 투명도 조절하기*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.835), rgba(0, 0, 0, 0.603)),
    url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none; /*bullet-point 없애기*/
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  /*side-by-side 될 수 있게*/
  margin-left: 40px;
  font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  /*마우스를 갖다대기 전까지 보이지 않게 하는 효과*/
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/*-------------------------------*/
/*FEATURES*/
/*-------------------------------*/

.section-features .long-copy {
  margin-bottom: 40px;
}

/*-------------------------------*/
/*MEALS*/
/*-------------------------------*/

.section-meals {
  padding: 0; /*기본적으로 section은 padding을 가지고 생기기 때문에 padding 옵션을 정해줘야함.*/
}

.meals-showcase {
  list-style: none; /*bullet point 없애기*/
  width: 100%;
}

.meals-showcase li {
  display: block; /*여기서는 줄바꿈이 되지 않음. inline과 동일하게 보이지만 적용하지 못하는 프로퍼티들 때문에 block으로 쓰는것?*/
  float: left; /*side-by-side로 만들어주기*/
  width: 25%; /*엘리먼트가 4개이고 브라우저의 full-width가 100%이기 때문에*/
}

.meal-photo {
  width: 100%; /* 이건 figure 태그. parent 태그인 li태그와 width를 완전히 똑같이 갖는다는 뜻이 된다.*/
  margin: 0;
  overflow: hidden; /*자식요소인 img태그가 부모요소 사이즈보다 커지는 걸 숨겨준다.*/
  background-color: #000; /* black으로 불투명색 지정 */
}

.meal-photo img {
  opacity: 0.7; /*70% */
  width: 100%; /*이미지의 넓이가 정확히 이미지를 담고있는 컨테이너와 똑같은 넓이가 되는 것*/
  height: auto;
  transform: scale(1.15); /*이미지가 100%를 넘어 115%로 커지는 것*/
  transition: transform 1s, opacity 0.5s; /* hover와 번갈아서 바뀌는 transform 효과가 0.5초에 걸쳐서 보다 부드럽게 나타나도록 해줌 */
}

.meal-photo img:hover {
  transform: scale(
    1.03
  ); /*이미지의 크기를 다시 100%로 돌려줌 & 1로 했을 때 보이던 이미지 밑면 흰색 라인이 1.03하니깐 사라짐*/
  opacity: 1; /*불투명도를 다시 100%로 돌려줌. 선명한 이미지 back*/
}

/*-------------------------------*/
/*HOW IT WORKS*/
/*-------------------------------*/

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  /*left box(아이폰 이미지) 선택*/
  text-align: right; /*실질적으로 "텍스트"는 없지만 텍스트에만 적용되는 것이 아니므로 가능한다.*/
  padding-right: 3%; /* responsive design에 fluid한 프로퍼티가 되려면 %로 기재 */
  margin-top: 30px; /*h2랑의 간격을 조절*/
}

.steps-box:last-child {
  /*right box(steps) 선택*/
  padding-left: 3%;
  margin-top: 70px; /*h2랑의 간격을 조절*/
}

.app-screen {
  width: 40%; /*박스(컨테이너)의 40% 크기*/
}

.works-step {
  margin-bottom: 50px; /*steps들 사이의 간격*/
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  /*steps 번호 선택자*/
  color: #e67e22;
  border: 2px solid #e67e22; /*숫자를 둘러싸는 border 만들기*/
  border-radius: 50%;
  height: 55px; /*지름이 같게 하려면 높이와 넓이의 크기를 같게!*/
  width: 55px;
  display: inline-block; /*text랑 side-by-side를 만들어주기 위해*/
  text-align: center; /*숫자를 원의 가운데로 정렬하기*/
  padding: 5px; /*원의 위쪽에 쏠려있는 숫자를 원 한 가운데로 내리기*/
  float: left; /*넘버링을 text의 왼쪽에 넣기*/
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/*-------------------------------*/
/*CITIES*/
/*-------------------------------*/

.box img {
  /*img는 inline*/
  /*위 섹션에서도 box클래스를 사용했으나 img를 내부에 가진 box클래스는 이번 섹션이 처음이기 때문에 사용가능*/
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  /*feature들 사이의 간격을 추가함*/
  margin-bottom: 5px;
}

/*-------------------------------*/
/*CUSTOMER TESTIMONIALS*/
/*-------------------------------*/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/back-customers.jpg); /*백그라운드 검정으로 깔기*/
  background-size: cover;
  color: #fff; /*font 컬러*/
  background-attachment: fixed; /*백그라운드 이미지 고정하기-스크롤해도 상관없이!*/
}

blockquote {
  padding: 2%;
  font-style: italic; /*html webfont(구글폰트링크)에 italic을 이미 추가해두었기 때문에 이렇게 쓸 수 있음 */
  line-height: 145%;
  position: relative; /*quotation mark의 위치를 조절해주기 위해서 부모요소인 blockquote가 relative position이어야 함.*/
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

blockquote:before {
  /*css만을 이용해서 text 추가하기*/
  content: "\201C"; /* ISO Special Characters CSS-tricks에서 원하는 특수문자 ISO코드 가져오기*/
  font-size: 500%;
  display: block;
  position: absolute; /*absolute을 쓸 때는 항상 부모요소(blockquote)가 relative position인지를 확인해야한다.*/
  top: -5px;
  left: -3px;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle; /*화자의 이름을 사진의 우측, 중간 높이에 위치하도록 정렬한다.*/
}

/*-------------------------------*/
/*SIGN UP*/
/*-------------------------------*/

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px; /*모서리를 둥글게*/
  width: 90%;
  margin-left: 5%; /*parent 요소를 기준으로 centering 하기 위해서 90%의 나머지인 10%를 양쪽으로 5%씩 분할해줌. 자연히 margin-right은 5%가 됨.*/
  box-shadow: 0 2px 2px rgb(228, 227, 227); /* x-axis, y-axis, blur의 순으로 온다 */
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgb(222, 221, 221);
}

.plan-box div:first-child {
  background-color: rgb(252, 251, 251);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center; /*sign up now 버튼 센터링하기*/
  border: 0; /*각 plan box의 sign up 버튼 밑에는 border가 보이지 않도록 */
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100; /*폰트 가늘게!*/
  color: #e67e22;
}

.plan-price span {
  font-size: 30%; /*이 사이즈는 여태까지 우리가 생각해왔던 default 사이즈에서 계산되는 것이 아니라 parent인 .plan-price의 폰트사이즈에서 다시 백분율로 계산이 된다. 즉, 여기서 100%라고 하면 20px의 300%가 똑같이 되는 것. 이건 300%의 30%.*/
  font-weight: 300; /*부모요소의 프로퍼티를 상속받기 때문에 다르게 하려면 따로 지정해야 함*/
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box li {
  padding: 5px 0; /*top&bottom 5px, left&right 0*/
}
