/*
orange color: #e67e22
*/

* {
  /*Jonas가 항상 가장 먼저 넣는 것들*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555; /*웹페이지의 전체 font컬러*/
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; /*텍스트 디스플레이를 최적화하는 메소드*/
}

/*-------------------------------*/
/*Reusable components*/
/*-------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
  /* 0 auto 0 auto 대신 위와 같이 달면 위&아래가 0, 오르쪽&왼쪽이 auto로 설정이 된다. */
}

section {
  padding: 80px 0;
}

.box {
  /*paragraph들 사이의 간격 조절*/
  padding: 1%;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* responsive design에서 항상 가운데에 오게 하는 방법 */
}

/*-------------------------------*/
/*HEADINGS*/
/*-------------------------------*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%; /* 위에 html에서 font-size를 20px로 설정해두었기 때문에 그걸 기준삼아서 %가 조절이 됨*/
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  /*오렌지 border추가하는 영역*/
  /*h2와 텍스트 사이에 추가. css만 이용해서 content추가하는 법*/
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto; /*센터링하기*/
  margin-top: 30px; /*h2랑 line사이 간격*/
}

/*-------------------------------*/
/*PARAGRAPHS*/
/*-------------------------------*/

.long-copy {
  line-height: 145%; /*120 ~ 145% 권장*/
  width: 70%;
  margin-left: 15%; /*total이 100%이기 떄문에 100-70인 30을 15%씩 나누면 양쪽에 15%씩 margin이 생긴다.*/
}

.box p {
  /*부모태그 div, 자식태그 p*/
  font-size: 90%;
  line-height: 145%;
}

/*-------------------------------*/
/*ICON*/
/*-------------------------------*/

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22; /*font이기 때문에 색상도 바꿀 수 있다*/
  margin-bottom: 10px;
}

/*-------------------------------*/
/*BUTTONS*/
/*-------------------------------*/

.btn:link,
.btn:visited {
  /*psedo-classes: 방문전후가 다르게 표시되게 하기 위해서 가짜로 만드는 클래스*/
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  /*링크(버튼)에 마우스를 갖다대면 바로 변하는 것이 아니라 0.2s(초) 이후에 변함*/
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22; /*ghost버튼이랑 똑같이 설정*/
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22; /*엘리먼트의 height/width는 content + height/width를 한 결과. 따라서 두 버튼에 똑같이 border를 설정해줘야한다.*/
  color: #e67e22;
}

.btn:hover,
.btn:active {
  /*마우스를 버튼 위에 올려놓았을 때 색깔이 바뀌는 모습 설정*/
  background-color: #cf6d178a;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}
/*-------------------------------*/
/*HEADER*/
/*-------------------------------*/

header {
  /* 백그라운드 이미지 추가하는 방법, linear-gradient: 바탕이미지 위에다가 색깔 입히는 방법/위에 덮히는 색 투명도 조절하기*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.835), rgba(0, 0, 0, 0.603)),
    url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none; /*bullet-point 없애기*/
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  /*side-by-side 될 수 있게*/
  margin-left: 40px;
  font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  /*마우스를 갖다대기 전까지 보이지 않게 하는 효과*/
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
